@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Admin
$md: 768px;

$header-height: 70px;
$admin-dark: #252b3b;
$admin-gray: #7b8186;
$admin-light: #f1f5f7;
$admin-blue: #4aa3ff;
$admin-red: #D63230;
$color-primary: #42d392;
$admin-lightblue: #add8e6;