.admin-form {
    margin-top: 16px !important;

    &-sm {
        max-width: 720px;
        margin: 0 auto;
    }

    label {
        font-size: 14px;
        font-weight: 500;
        color: $admin-dark;
        display: inline-block;
        margin-bottom: 8px;
    }
    
    &-group {
        margin-bottom: 24px;

        &:last-child {
            margin-top: 32px !important;
        }
    }

    &-field {
        width: 100%;
        display: block;
        padding: .7rem;
        border-radius: 8px;
        border: 1px solid rgba($admin-gray, .3);
        outline: none;

        &:focus {
            border: 2px solid rgba($admin-blue, .9) !important;
        }

        &-error {
            border: 1px solid $admin-red;
        }
    }

    &-description {
        font-size: .9em;
        color: $admin-gray;
        margin-top: 0;
        margin-bottom: 16px;
    }
}