.table-container {
    min-height: 500px;
    position: relative;
    overflow-x: scroll;

    @media (min-width: $md) {
        overflow: hidden;
    }

    .table-no-data-label {
        display: inline-block;
        position: absolute;
        top: 45%;
        right: 0;
        bottom: 0;
        left: 45%;
        margin: auto;
    }
}

.admin-table-options {
    padding-bottom: 16px;
}

.admin-table {
    width: 100%;
    font-size: .85em;
    font-weight: 400;
    color: rgba($admin-dark, .9);
    border-collapse: collapse;
    border: 1px solid rgba($admin-gray, .1);
    border-radius: 4px;

    td {
        border-bottom: 1px solid rgba($admin-gray, .2);
        padding: 6px;

        &:first-child {
            padding-left: 24px;
        }
    }

    th {
        background-color: rgba($admin-light, .8);
        font-size: 12px;
        color: rgba($admin-dark, .85);
        border-bottom: 1px solid rgba($admin-gray, .2);
        padding: 12px 0 12px 0;

        &:first-child {
            padding-left: 24px;
        }
    }

    &-option {
        font-size: 18px;
        border: 0;
        background-color: white;
    }

    &-image-container {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5rem;
        cursor: pointer;
    }

    &-image {
        max-width: 100%;
        border-radius: .5rem;
    }

    &-link {
        color: rgba($admin-dark, .7) !important;

        &:hover {
            color: $admin-blue !important;
        }
    }
}

.table-footer {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    // position: absolute;
    // top: -1rem;
}